<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sta">
    <select id="expStaNat" parameterType="map" resultType="map">
		SELECT
			ROW_NUMBER() OVER (ORDER BY TO_NUMBER(REPLACE(A.TOT_KRW, ',', '')) DESC) RNUM, A.*
		FROM  (
			SELECT 
				EXP.TA_ST_ISO,
				<!-- 어드민 사이트에서 사용 -->
				<if test='IS_ADMIN == "T"'>
					<if test="EXP_SDNO == null or EXP_SDNO == ''">
						EXP.EXP_SDNO,
						(SELECT MIN (USER_NM) FROM CMM_USER WHERE BIZ_NO = EXP.EXP_SDNO) AS USER_NM,
					</if>
				</if>
				MAX(CODE.CODE_NM) TA_ST_ISO_NM,
				TO_CHAR(COUNT(RPT_NO), 'FM9,999,999,999,990') TOT_CNT,
				TO_CHAR(SUM(TOT_RPT_KRW), 'FM9,999,999,999,990') TOT_KRW,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '01' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT01,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '01' THEN EXP.TOT_RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW01,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '02' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT02,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '02' THEN EXP.TOT_RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW02,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '03' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT03,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '03' THEN EXP.TOT_RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW03,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '04' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT04,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '04' THEN EXP.TOT_RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW04,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '05' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT05,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '05' THEN EXP.TOT_RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW05,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '06' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT06,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '06' THEN EXP.TOT_RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW06,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '07' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT07,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '07' THEN EXP.TOT_RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW07,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '08' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT08,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '08' THEN EXP.TOT_RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW08,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '09' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT09,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '09' THEN EXP.TOT_RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW09,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '10' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT10,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '10' THEN EXP.TOT_RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW10,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '11' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT11,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '11' THEN EXP.TOT_RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW11,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '12' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT12,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '12' THEN EXP.TOT_RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW12
			FROM 
				EXP_CUSDEC830 EXP
					JOIN CMM_STD_CODE CODE ON EXP.TA_ST_ISO = CODE.CODE 
			WHERE 
				EXP.EXP_LIS_DAY LIKE #{EXP_LIS_YEAR} || '%'
				AND EXP.RECE != '90'
				AND EXP.RPT_SEQ = '00'
				AND CODE.CLASS_ID = 'CUS0005'
				<!-- 사용자 사이트에서 사용 -->
				<if test='IS_ADMIN != "T"'>
					AND EXP.EXP_SDNO = #{USR_SESSION.bizNo}
					GROUP BY EXP.TA_ST_ISO
				</if>

				<!-- 어드민 사이트에서 사용 -->
				<if test='IS_ADMIN == "T"'>
					<!-- 국가코드 -->
					<if test="TA_ST_ISO != null and TA_ST_ISO != ''">
						AND EXP.TA_ST_ISO = #{TA_ST_ISO}
					</if>

					<!-- 사업자등록번호 -->
					<if test="EXP_SDNO != null and EXP_SDNO != ''">
						AND EXP.EXP_SDNO = #{EXP_SDNO}
						GROUP BY EXP.TA_ST_ISO
					</if>
					<if test="EXP_SDNO == null or EXP_SDNO == ''">
						GROUP BY EXP.TA_ST_ISO, EXP.EXP_SDNO
					</if>
				</if>
		) A ORDER BY TO_NUMBER(REPLACE(A.TOT_KRW, ',', '')) DESC
	</select>
	
    <select id="expStaHs" parameterType="map" resultType="map">
		SELECT
			ROW_NUMBER() OVER (ORDER BY TO_NUMBER(REPLACE(A.TOT_KRW, ',', '')) DESC) RNUM, A.*
		FROM  (
			SELECT 
				RAN.HS,
				<!-- 어드민 사이트에서 사용 -->
				<if test='IS_ADMIN == "T"'>
					<if test="EXP_SDNO == null or EXP_SDNO == ''">
						EXP.EXP_SDNO,
						(SELECT MIN (USER_NM) FROM CMM_USER WHERE BIZ_NO = EXP.EXP_SDNO) AS USER_NM,
					</if>
				</if>
				MAX(RAN.STD_GNM) STD_GNM,
				COUNT(1) TOT_CNT,
				TO_CHAR(SUM(RAN.RPT_KRW), 'FM9,999,999,999,990') TOT_KRW,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '01' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT01,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '01' THEN RAN.RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW01,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '02' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT02,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '02' THEN RAN.RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW02,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '03' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT03,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '03' THEN RAN.RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW03,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '04' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT04,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '04' THEN RAN.RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW04,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '05' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT05,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '05' THEN RAN.RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW05,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '06' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT06,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '06' THEN RAN.RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW06,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '07' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT07,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '07' THEN RAN.RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW07,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '08' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT08,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '08' THEN RAN.RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW08,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '09' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT09,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '09' THEN RAN.RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW09,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '10' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT10,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '10' THEN RAN.RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW10,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '11' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT11,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '11' THEN RAN.RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW11,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '12' THEN 1 ELSE 0 END), 'FM9,999,999,999,990') TOT_CNT12,
				TO_CHAR(SUM(CASE WHEN SUBSTR(EXP_LIS_DAY,5,2) = '12' THEN RAN.RPT_KRW ELSE 0 END), 'FM9,999,999,999,990') TOT_KRW12
			FROM 
				EXP_CUSDEC830 EXP
          			JOIN EXP_CUSDEC830_RAN RAN ON EXP.RPT_NO = RAN.RPT_NO AND EXP.RPT_SEQ = RAN.RPT_SEQ
			WHERE 
				EXP.EXP_LIS_DAY LIKE #{EXP_LIS_YEAR} || '%'
				AND EXP.RECE != '90'
				AND EXP.RPT_SEQ = '00'
				<!-- 사용자 사이트에서 사용 -->
				<if test='IS_ADMIN != "T"'>
					AND EXP.EXP_SDNO = #{USR_SESSION.bizNo}
					GROUP BY RAN.HS
				</if>

				<!-- 어드민 사이트에서 사용 -->
				<if test='IS_ADMIN == "T"'>
					<!-- HS 코드 -->
					<if test="HS != null and HS != ''">
						AND RAN.HS LIKE #{HS}||'%'
					</if>
					<!-- 사업자등록번호 -->
					<if test="EXP_SDNO != null and EXP_SDNO != ''">
						AND EXP.EXP_SDNO = #{EXP_SDNO}
						GROUP BY RAN.HS
					</if>
					<if test="EXP_SDNO == null or EXP_SDNO == ''">
						GROUP BY RAN.HS, EXP.EXP_SDNO
					</if>
				</if>
		) A ORDER BY TO_NUMBER(REPLACE(A.TOT_KRW, ',', '')) DESC
	</select>	
	
    <select id="selectExpStaResList" parameterType="map" resultType="map">
        SELECT  
            ROW_NUMBER() OVER (ORDER BY EXP_LIS_DAY DESC) RNUM, 
            EXP.RPT_NO, EXP.EXP_LIS_DAY, EXP.SHIP_DAY, 'USD' AS CUR, RATE.CURR_VAL EXC_RATE_USD, EXP.TOT_RPT_KRW, ROUND(EXP.TOT_RPT_KRW / RATE.CURR_VAL, 0) TOT_RPT_USD 
        FROM 
            EXP_CUSDEC830 EXP 
            	JOIN CMM_EXCHANGE_RATE RATE ON TO_CHAR(TO_DATE(EXP.RPT_DAY) - TO_CHAR(TO_DATE(EXP.RPT_DAY), 'd') + 1, 'YYYYMMDD') = RATE.APPLY_DATE 
        WHERE 
            EXP.RPT_SEQ = '00'    
            AND EXP.RECE != '90' 
			AND EXP.EXP_SDNO = #{USR_SESSION.bizNo} 	
            AND EXP.EXP_LIS_DAY BETWEEN #{F_EXP_LIS_DAY} AND #{T_EXP_LIS_DAY} 
			AND RATE.NATION = 'USD' 
            AND RATE.IMPORT_EXPORT = 'E'
        ORDER BY EXP_LIS_DAY DESC
	</select>

	<select id="expStaNatMap" parameterType="map" resultType="map">
		SELECT 
			EXP.TA_ST_ISO TA_ST_ISO,
			MAX(CODE.CODE_NM)||'/'||TO_CHAR(COUNT(RPT_NO), 'FM9,999,999,999,990') TA_ST_ISO_NM_CNT,
			MAX(CODE.CODE_NM)||'/'||TO_CHAR(SUM(TOT_RPT_KRW), 'FM9,999,999,999,990') TA_ST_ISO_NM_AMT,
			COUNT(RPT_NO) TOT_CNT,
			SUM(TOT_RPT_KRW) TOT_KRW
		FROM	
			EXP_CUSDEC830 EXP
				JOIN CMM_STD_CODE CODE ON EXP.TA_ST_ISO = CODE.CODE
		WHERE 
			EXP.EXP_LIS_DAY LIKE #{EXP_LIS_YEAR} || '%'
			AND EXP.RECE != '90'
			AND EXP.RPT_SEQ = '00'
			AND CODE.CLASS_ID = 'CUS0005'
			<if test="EXP_SDNO != null and EXP_SDNO != ''">
				AND EXP.EXP_SDNO = #{EXP_SDNO}
			</if>
		GROUP BY EXP.TA_ST_ISO
	</select>

	<select id="selectAdmImpReqList" parameterType="map" resultType="map">
		SELECT ROW_NUMBER() OVER (ORDER BY A.TOT_CNT DESC) RNUM, A.*
		FROM (
				SELECT REQ.FOD_ST_ISO,
						<if test="BIZ_NO == null or BIZ_NO == ''">
							USR.BIZ_NO,
							MIN (USR.USER_NM) AS USER_NM,
						</if>
						MAX(CODE.CODE_NM) AS FOD_ST_ISO_NM,
						COUNT(REQ.REQ_NO) AS TOT_CNT,
						SUM(CASE WHEN TO_CHAR(REQ.REG_DTM, 'MM') = '01' THEN 1 ELSE 0 END) AS TOT_CNT01,
						SUM(CASE WHEN TO_CHAR(REQ.REG_DTM, 'MM') = '02' THEN 1 ELSE 0 END) AS TOT_CNT02,
						SUM(CASE WHEN TO_CHAR(REQ.REG_DTM, 'MM') = '03' THEN 1 ELSE 0 END) AS TOT_CNT03,
						SUM(CASE WHEN TO_CHAR(REQ.REG_DTM, 'MM') = '04' THEN 1 ELSE 0 END) AS TOT_CNT04,
						SUM(CASE WHEN TO_CHAR(REQ.REG_DTM, 'MM') = '05' THEN 1 ELSE 0 END) AS TOT_CNT05,
						SUM(CASE WHEN TO_CHAR(REQ.REG_DTM, 'MM') = '06' THEN 1 ELSE 0 END) AS TOT_CNT06,
						SUM(CASE WHEN TO_CHAR(REQ.REG_DTM, 'MM') = '07' THEN 1 ELSE 0 END) AS TOT_CNT07,
						SUM(CASE WHEN TO_CHAR(REQ.REG_DTM, 'MM') = '08' THEN 1 ELSE 0 END) AS TOT_CNT08,
						SUM(CASE WHEN TO_CHAR(REQ.REG_DTM, 'MM') = '09' THEN 1 ELSE 0 END) AS TOT_CNT09,
						SUM(CASE WHEN TO_CHAR(REQ.REG_DTM, 'MM') = '10' THEN 1 ELSE 0 END) AS TOT_CNT10,
						SUM(CASE WHEN TO_CHAR(REQ.REG_DTM, 'MM') = '11' THEN 1 ELSE 0 END) AS TOT_CNT11,
						SUM(CASE WHEN TO_CHAR(REQ.REG_DTM, 'MM') = '12' THEN 1 ELSE 0 END) AS TOT_CNT12
				  FROM IMP_IMPREQ REQ, CMM_STD_CODE CODE, CMM_USER USR
				 WHERE REQ.FOD_ST_ISO = CODE.CODE
		           AND REQ.SELLER_ID = USR.USER_ID
				<if test="FOD_ST_ISO != null and FOD_ST_ISO != ''">
					AND REQ.FOD_ST_ISO = #{FOD_ST_ISO}
				</if>
					AND REQ.REG_DTM BETWEEN TO_DATE(#{YEAR}||'0101000000', 'YYYYMMDDHH24MISS') AND TO_DATE(#{YEAR}||'1231235959', 'YYYYMMDDHH24MISS')
					AND CODE.CLASS_ID = 'CUS0005'
				<if test="BIZ_NO != null and BIZ_NO != ''">
					AND USR.BIZ_NO = #{BIZ_NO}
					GROUP BY REQ.FOD_ST_ISO
				</if>
				<if test="BIZ_NO == null or BIZ_NO == ''">
					GROUP BY REQ.FOD_ST_ISO, USR.BIZ_NO
				</if>
				) A
		ORDER BY A.TOT_CNT DESC
	</select>

	<select id="selectAdmEmsPickList" parameterType="map" resultType="map">
		SELECT ROW_NUMBER() OVER (ORDER BY A.TOT_CNT DESC) RNUM, A.*
		FROM (
				SELECT A.COUNTRYCD,
						<if test="BIZ_NO == null or BIZ_NO == ''">
							D.BIZ_NO,
							MIN (D.USER_NM) AS USER_NM,
						</if>
						MAX(C.CODE_NM) AS COUNTRYCD_NM,
						COUNT(A.REGNO) AS TOT_CNT,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '01' THEN 1 ELSE 0 END) TOT_CNT01,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '02' THEN 1 ELSE 0 END) TOT_CNT02,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '03' THEN 1 ELSE 0 END) TOT_CNT03,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '04' THEN 1 ELSE 0 END) TOT_CNT04,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '05' THEN 1 ELSE 0 END) TOT_CNT05,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '06' THEN 1 ELSE 0 END) TOT_CNT06,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '07' THEN 1 ELSE 0 END) TOT_CNT07,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '08' THEN 1 ELSE 0 END) TOT_CNT08,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '09' THEN 1 ELSE 0 END) TOT_CNT09,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '10' THEN 1 ELSE 0 END) TOT_CNT10,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '11' THEN 1 ELSE 0 END) TOT_CNT11,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '12' THEN 1 ELSE 0 END) TOT_CNT12
				  FROM EMS_RECEPT_REQ A,
						(SELECT REGINO, EVENTREGIPONM, DELIVRSLTNM, EVENTHMS, EVENTYMD
						  FROM EMS_TRACE_INFO_HISTORY
						 WHERE (REGINO, ITEMNO) IN (SELECT REGINO, MAX(ITEMNO) FROM EMS_TRACE_INFO_HISTORY GROUP BY REGINO)) B,
						CMM_STD_CODE C, CMM_USER D
				 WHERE A.REGINO = B.REGINO(+)
				   AND A.REGINO IS NOT NULL
				   AND A.COUNTRYCD = C.CODE
				   AND C.CLASS_ID = 'CUS0005'
				   AND A.REG_ID = D.USER_ID
				   AND A.REG_DTM BETWEEN TO_DATE(#{YEAR}||'0101000000', 'YYYYMMDDHH24MISS') AND TO_DATE(#{YEAR}||'1231235959', 'YYYYMMDDHH24MISS')
				<if test="COUNTRYCD != null and COUNTRYCD != ''">
					AND A.COUNTRYCD = #{COUNTRYCD}
				</if>
				<if test="BIZ_NO != null and BIZ_NO != ''">
					AND D.BIZ_NO = #{BIZ_NO}
					GROUP BY A.COUNTRYCD
				</if>
				<if test="BIZ_NO == null or BIZ_NO == ''">
					GROUP BY A.COUNTRYCD, D.BIZ_NO
				</if>
				) A
		ORDER BY A.TOT_CNT DESC
	</select>

	<select id="selectAdmShipReqList" parameterType="map" resultType="map">
		  SELECT ROW_NUMBER() OVER (ORDER BY A.TOT_CNT DESC) RNUM, A.*
			FROM (
				 SELECT A.EXPRESS_BIZ_NO, -- 특송업체
						(SELECT MIN (USER_NM) FROM CMM_USER WHERE BIZ_NO = A.EXPRESS_BIZ_NO) AS EXPRESS_USER_NM,
						<if test="BIZ_NO == null or BIZ_NO == ''">
							B.BIZ_NO,         -- 판매업체 사업자번호
							MIN (B.USER_NM) AS USER_NM,
						</if>
						COUNT(A.REGNO) AS TOT_CNT,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '01' THEN 1 ELSE 0 END) TOT_CNT01,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '02' THEN 1 ELSE 0 END) TOT_CNT02,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '03' THEN 1 ELSE 0 END) TOT_CNT03,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '04' THEN 1 ELSE 0 END) TOT_CNT04,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '05' THEN 1 ELSE 0 END) TOT_CNT05,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '06' THEN 1 ELSE 0 END) TOT_CNT06,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '07' THEN 1 ELSE 0 END) TOT_CNT07,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '08' THEN 1 ELSE 0 END) TOT_CNT08,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '09' THEN 1 ELSE 0 END) TOT_CNT09,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '10' THEN 1 ELSE 0 END) TOT_CNT10,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '11' THEN 1 ELSE 0 END) TOT_CNT11,
						SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '12' THEN 1 ELSE 0 END) TOT_CNT12
				   FROM XPR_RECEPT_REQ A, CMM_USER B
				  WHERE A.STATUSCD IN ('A', 'B')
					AND A.REG_ID = B.USER_ID
					<if test="EXPRESS_BIZ_NO != null and EXPRESS_BIZ_NO != ''">
						AND A.EXPRESS_BIZ_NO = #{EXPRESS_BIZ_NO}
					</if>
					AND A.REG_DTM BETWEEN TO_DATE(#{YEAR}||'0101000000', 'YYYYMMDDHH24MISS') AND TO_DATE(#{YEAR}||'1231235959', 'YYYYMMDDHH24MISS')
					<if test="BIZ_NO != null and BIZ_NO != ''">
						AND B.BIZ_NO = #{BIZ_NO}
						GROUP BY A.EXPRESS_BIZ_NO
					</if>
					<if test="BIZ_NO == null or BIZ_NO == ''">
						GROUP BY A.EXPRESS_BIZ_NO, B.BIZ_NO
					</if>
				 ) A
		  ORDER BY A.TOT_CNT DESC
	</select>

	<select id="selectAdmPcrLicList" parameterType="map" resultType="map">
	SELECT ROW_NUMBER() OVER (ORDER BY TO_NUMBER(REPLACE(A.TOT_KRW, ',', '')) DESC) RNUM, A.*
	FROM (
			SELECT <if test="APP_ORG_ID == null or APP_ORG_ID == ''">
					A.APP_ORG_ID, -- 신청업체사업자등록번호
					MIN (B.USER_NM) AS USER_NM,
					</if>
					A.SUP_ORG_ID, -- 공급자 사업자등록번호
					MIN (A.SUP_ORG_NM) AS SUP_ORG_NM, -- 공급자 상호
					COUNT(A.DOC_ID) TOT_CNT,
					SUM(A.TOT_AMT) TOT_KRW,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '01' THEN 1 ELSE 0 END) TOT_CNT01,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '01' THEN A.TOT_AMT ELSE 0 END) TOT_KRW01,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '02' THEN 1 ELSE 0 END) TOT_CNT02,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '02' THEN A.TOT_AMT ELSE 0 END) TOT_KRW02,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '03' THEN 1 ELSE 0 END) TOT_CNT03,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '03' THEN A.TOT_AMT ELSE 0 END) TOT_KRW03,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '04' THEN 1 ELSE 0 END) TOT_CNT04,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '04' THEN A.TOT_AMT ELSE 0 END) TOT_KRW04,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '05' THEN 1 ELSE 0 END) TOT_CNT05,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '05' THEN A.TOT_AMT ELSE 0 END) TOT_KRW05,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '06' THEN 1 ELSE 0 END) TOT_CNT06,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '06' THEN A.TOT_AMT ELSE 0 END) TOT_KRW06,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '07' THEN 1 ELSE 0 END) TOT_CNT07,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '07' THEN A.TOT_AMT ELSE 0 END) TOT_KRW07,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '08' THEN 1 ELSE 0 END) TOT_CNT08,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '08' THEN A.TOT_AMT ELSE 0 END) TOT_KRW08,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '09' THEN 1 ELSE 0 END) TOT_CNT09,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '09' THEN A.TOT_AMT ELSE 0 END) TOT_KRW09,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '10' THEN 1 ELSE 0 END) TOT_CNT10,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '10' THEN A.TOT_AMT ELSE 0 END) TOT_KRW10,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '11' THEN 1 ELSE 0 END) TOT_CNT11,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '11' THEN A.TOT_AMT ELSE 0 END) TOT_KRW11,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '12' THEN 1 ELSE 0 END) TOT_CNT12,
					SUM(CASE WHEN TO_CHAR(A.REG_DTM, 'MM') = '12' THEN A.TOT_AMT ELSE 0 END) TOT_KRW12
			   FROM PCR_LIC_INFO A, CMM_USER B
			  WHERE A.REG_ID = B.USER_ID
				AND A.DOC_STAT = 'P4_N' -- 발급완료
		<if test="SUP_ORG_ID != null and SUP_ORG_ID != ''">
			AND A.SUP_ORG_ID = #{SUP_ORG_ID}
		</if>
		<if test="APP_ORG_ID != null and APP_ORG_ID != ''">
			AND A.APP_ORG_ID = #{APP_ORG_ID} -- 신청업체사업자등록번호
			GROUP BY A.SUP_ORG_ID
		</if>
		<if test="APP_ORG_ID == null or APP_ORG_ID == ''">
			GROUP BY A.SUP_ORG_ID, A.APP_ORG_ID
		</if>
		) A
		ORDER BY TO_NUMBER(REPLACE(A.TOT_KRW, ',', '')) DESC
	</select>

	<select id="expStaBiz1" parameterType="map" resultType="map">
		SELECT EXP.EXP_SDNO,
			   (SELECT MIN (USER_NM) FROM CMM_USER WHERE BIZ_NO = EXP.EXP_SDNO) AS USER_NM,
			   COUNT(1) TOT_CNT,
			   SUM(RAN.RPT_KRW) AS TOT_KRW
		  FROM EXP_CUSDEC830 EXP
			   JOIN EXP_CUSDEC830_RAN RAN ON EXP.RPT_NO = RAN.RPT_NO AND EXP.RPT_SEQ = RAN.RPT_SEQ
		 WHERE EXP.EXP_LIS_DAY BETWEEN #{F_EXP_LIS_YEAR} AND #{T_EXP_LIS_YEAR}
		   AND EXP.RECE != '90'
		   AND EXP.RPT_SEQ = '00'
			<if test="EXP_SDNO != null and EXP_SDNO != ''">
				EXP.EXP_SDNO = #{EXP_SDNO}
			</if>
		 GROUP BY EXP.EXP_SDNO
	</select>
	<select id="expStaBiz1Total" parameterType="map" resultType="map">
		SELECT NULL AS EXP_SDNO,
			    NULL AS USER_NM,
			    COUNT(1) AS TOT_CNT,
			    SUM(RAN.RPT_KRW) AS TOT_KRW
		  FROM EXP_CUSDEC830 EXP
			   JOIN EXP_CUSDEC830_RAN RAN ON EXP.RPT_NO = RAN.RPT_NO AND EXP.RPT_SEQ = RAN.RPT_SEQ
		 WHERE EXP.EXP_LIS_DAY BETWEEN #{F_EXP_LIS_YEAR} AND #{T_EXP_LIS_YEAR}
		   AND EXP.RECE != '90'
		   AND EXP.RPT_SEQ = '00'
			<if test="EXP_SDNO != null and EXP_SDNO != ''">
				EXP.EXP_SDNO = #{EXP_SDNO}
			</if>
	</select>

	<select id="expStaBiz2" parameterType="map" resultType="map">
		SELECT ROW_NUMBER() OVER (ORDER BY A.TOT_KRW, A.TA_ST_ISO) RNUM,
			   NVL(A.TA_ST_ISO, '합계') AS TA_ST_ISO,
			   DECODE(A.TA_ST_ISO, NULL, NULL, A.TA_ST_ISO_NM) AS TA_ST_ISO_NM,
			   A.TOT_CNT, A.TOT_KRW
		   FROM (
				SELECT EXP.TA_ST_ISO,
					   MAX(CODE.CODE_NM) TA_ST_ISO_NM,
					   COUNT(EXP.RPT_NO) TOT_CNT,
					   SUM(EXP.TOT_RPT_KRW) AS TOT_KRW
				  FROM EXP_CUSDEC830 EXP
					   JOIN CMM_STD_CODE CODE ON EXP.TA_ST_ISO = CODE.CODE
				 WHERE EXP.EXP_LIS_DAY BETWEEN #{F_EXP_LIS_YEAR} AND #{T_EXP_LIS_YEAR}
				   AND EXP.RECE != '90'
				   AND EXP.RPT_SEQ = '00'
				   AND CODE.CLASS_ID = 'CUS0005'
					<if test="TA_ST_ISO != null and TA_ST_ISO != ''">
						AND EXP.TA_ST_ISO = #{TA_ST_ISO}
					</if>
				GROUP BY ROLLUP(EXP.TA_ST_ISO)
				) A
	</select>
</mapper>