@charset "UTF-8";
/*list background*/
body{background:#f3f3f3;}

/*page button*/
.list_btn {padding:15px 0 20px;text-align:center; font-family:'NanumGothic';}
.list_btn > * {display:inline-block;}
.list_btn a {width:40px;height:33px;text-indent:-9999em;}
.list_btn .btn_prev {background:url(/images/btn/btn_prev_list.png) no-repeat;background-size:40px auto;}
.list_btn .btn_next {background:url(/images/btn/btn_next_list.png) no-repeat;background-size:40px auto;}
.list_btn span {padding:9px 15px 0 15px;color:#bcbcbc;vertical-align:top;font-size:17px;}
.list_btn strong {color:#757575;}

/*list style*/
.list_style{margin-top: 5px;}
.list_style > li { margin-top:5px; padding:13px 10px; border:1px solid #e7e7e7; border-radius: 1px;background:#fff;}
.list_style h2{ margin-bottom:8px; color:#333;letter-spacing:-0.02em; letter-spacing:-0.02em; font-size:17px; line-height:20px;}
.list_style ul li{float:left; margin-right:15px; color:#333; letter-spacing:-0.02em; line-height:18px;}
.list_style li ul:after{ display:block; clear:both;content:"";}
.list_style li li span:first-child{ padding-left:8px;background:url(/images/icon/icon_bullet.png)no-repeat left center;background-size:3px auto;color:#777;}
.list_style li li strong{ font-weight:normal;}
.list_style li li strong + span{color:#777;}

.checklist > li{position:relative; overflow:hidden;}
.checklist li a{ float:left; margin-left:30px;width:calc(100% - 30px);}
.checklist li input[type=checkbox]{ position:absolute; top:50%;float:left; transform:translateY(-50%);}
.btn_frame .uncheck_all{display:none;}

/*total number style*/
.total{float:left; padding-top:2px;}
.util_left{overflow:hidden;}
.total span{ padding:2px 5px 3px; width:auto; height:18px; border-radius:2px; background:#f7941d;color:#fff; line-height:2.5em;}
