<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
	<select	id="selectCmmBoardList" parameterType="map" resultType="map">
		SELECT    LEVEL AS LVL , ROWNUM AS RNUM 
                , A.BOARD_ID
                , A.PBOARD_ID
                , A.TITLE
                , A.BOARD_LEVEL
                , A.REG_NM
                , A.DEL_YN
                , A.CONTENTS
                , A.MOD_ID
                , TO_CHAR(A.MOD_DTM, 'YYYY-MM-DD HH24:MI') AS MOD_DTM
                , DECODE(CONNECT_BY_ISLEAF, 1, 'Y', 'N') AS IS_LEAF
        FROM 	CMM_BOARD A
        
        WHERE 	1=1
        <if test="F_MOD_DTM != null and F_MOD_DTM != '' and T_MOD_DTM != null and T_MOD_DTM != ''">
        	AND MOD_DTM BETWEEN TO_DATE(#{F_MOD_DTM}||'000000', 'YYYYMMDDHH24MISS') AND TO_DATE(#{T_MOD_DTM}||'235959', 'YYYYMMDDHH24MISS')
        </if>
        <if test="P_TITLE != null and P_TITLE != ''">
        	AND TITLE LIKE '%'||#{P_TITLE}||'%'
        </if>
        START 	WITH A.BOARD_LEVEL = 1
        CONNECT BY PRIOR A.BOARD_ID = A.PBOARD_ID
        ORDER 	SIBLINGS BY A.BOARD_ID DESC
    </select>

    <insert id="insertCmmBoard" parameterType="map">
        INSERT INTO CMM_BOARD(
            BOARD_ID
            , PBOARD_ID 
            , TITLE
            , CONTENTS
            , REG_NM
            , BOARD_LEVEL
            , REG_ID
            , REG_DTM
            , MOD_ID
            , MOD_DTM
        )VALUES(
              (SELECT  TO_CHAR(SYSDATE,'YYYYMMDD') || LPAD(NVL(SUBSTR(MAX(BOARD_ID),9),0)+1,5,0) FROM  CMM_BOARD WHERE  BOARD_ID LIKE TO_CHAR(SYSDATE,'YYYYMMDD') || '%' )
            , #{PBOARD_ID}
            , #{TITLE}
            , #{CONTENTS}
            , (SELECT USER_NM FROM CMM_USER WHERE USER_ID = #{SSuserId})
            , NVL((SELECT BOARD_LEVEL+1 FROM CMM_BOARD WHERE BOARD_ID = #{PBOARD_ID}), 1)
            , #{SSuserId}
            , SYSDATE
            , #{SSuserId}
            , SYSDATE
        )
    </insert>

    <update id="updateCmmBoard" parameterType="map">
        UPDATE CMM_BOARD
           SET TITLE = #{TITLE}
                , CONTENTS = #{CONTENTS}
                , MOD_ID = #{SSuserId}
                , MOD_DTM = SYSDATE
          WHERE BOARD_ID = #{BOARD_ID}
    </update>

    <update id="updateDelYn" parameterType="map">
        UPDATE CMM_BOARD
           SET DEL_YN = 'Y'
                , MOD_ID = #{SSuserId}
                , MOD_DTM = SYSDATE
          WHERE BOARD_ID = #{BOARD_ID}
    </update>
    
    <select	id="selectBoardAuthCnt" parameterType="map" resultType="int">
        SELECT COUNT(*) AS CNT
         FROM  CMM_BOARD A
        WHERE  A.BOARD_ID = #{BOARD_ID}
          AND  A.MOD_ID = #{SSuserId}
    </select>

    <select	id="selectBoardDelAuthCnt" parameterType="map" resultType="int">
        SELECT COUNT(*) AS CNT
         FROM  CMM_BOARD A
        WHERE  A.PBOARD_ID = #{BOARD_ID}
    </select>
</mapper>